<div style="text-align: center; line-height: 3em;">

    <div style="font-family: var(--primary-font); line-height: 2.5em; font-weight: bolder; margin: 3em 0;">
        <div style="font-size: 3.5em;">Cat</div>
        <div style="font-size: 2.5em;">and</div>
        <div style="font-size: 3.5em;">Mouse</div>
    </div>

    <div style="margin: 3em 0;">
        <img src="assets/cat-tucker.png" width="100em">
        <img src="assets/mouse-default.png" width="70em">
    </div>

    <div style="font-size: 1em; font-weight: bold;">
        <div>
            <span style="padding: .75em 2.5em; border: solid 1px transparent; background-color: var(--primary-color); color: white;">play</span>
        </div>
        <div>
            <span style="padding: .75em 1.25em; border: solid 1px transparent; background-color: var(--secondary-color); color: black;">store</span>
            <span style="padding: .75em 1.25em; border: solid 1px transparent; background-color: var(--secondary-color); color: black;">how to</span>
        </div>
    </div>

</div>