<div style="text-align: center; line-height: 3em;">

    <div style="font-family: var(--primary-font); line-height: 2.5em; font-weight: bolder;">
        <div style="font-size: 3em;">Cat</div>
        <div style="font-size: 2em;">and</div>
        <div style="font-size: 3em;">Mouse</div>
    </div>

    <div>
        cat image
        mouse image
    </div>

    <div>
        <div>
            <span style="padding: 10px; border: solid 1px transparent; background-color: var(--primary-color-faded); color: white;">play</span>
        </div>
        <div>
            <span style="padding: 10px; border: solid 1px transparent; background-color: var(--primary-color); color: white;">store</span>
            <span style="padding: 10px; border: solid 1px transparent; background-color: var(--primary-color); color: white;">how to</span>
        </div>
    </div>

</div>